################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Redis.Consumer/obj/Release/netcoreapp3.1
